<div class="navPane"></div>
<div class="topPane"></div>
<div class="leftPane"></div>
<div class="mainPane"></div>
<div class="rightPane"></div>
<div class="bottomPane"></div>


<div class="modal fade" id="modalPane" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalPaneTitle"></h4>
      </div>
      <div class="modal-body modalPane">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
